@import "../../../../styles/Cores.module.scss";

.discontrair {
    font-weight: bolder;
    min-height: 88.5vh;

    .card_header {
        font-size: .7em;
        text-align: center;
        background-color: $itens_Pretos;
        color: white;
        padding: 10px;
        border-radius: 10px;
    }
    
    .background {
        .img_background {
            width: 100%;
            max-height: 500px;
            border-radius: 10px;
        }

        .container_De_Posts {
            position: relative;
            display: flex;

            .container_anuncios {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 27%;
                position: absolute;
                top: 0;
                right: 5px;

                .anuncios {
                    position: relative;
                    overflow: hidden;
                    border: solid 1px black;
                    color: rgb(0, 0, 0);
                    width: 100%;
                    height: 300px;
                    padding: 10px;
                    border-radius: 10px;
                }
            }
        }

        .tipoDePublication {
            text-align: center;
            background-color: rgb(0, 0, 0);
            color: white;
            padding: 0px 20px;
            position: absolute;
            top: 42px;
            right: -36px;
            width: 154px;
            border-radius: 50px;
            transform: rotateZ(50deg);
        }


        .post {
            margin-bottom: 30px;
            background-color: $background_Posts; 
            border: solid .5px black;
            padding: 20px;
            border-radius: 10px;
            max-width: 500px;
            position: relative;
            overflow: hidden;

            .descrition {
                margin: 14px 0px 20px 0px;
                font-size: .9em;
                font-weight: 600;
                font-family: Arial, Helvetica, sans-serif;
            }

            .perfilDoPublicador {
                display: flex;

                .imgDePerfil {
                    background: url('https://avatar s.githubusercontent.com/u/109005234?v=4') center center no-repeat;
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                }

                .nomeDoUsuario {
                    padding: 0px 10px;
                    font-size: 1.1em;
                }

                .dataDePublication {
                    padding: 0px 10px;
                    font-weight: 400;
                }
            }
        }
    }
    p {
        padding: 20px 0px;
    }

    &#temaDark {
        .background {
            .container_De_Posts {
                .container_anuncios {
                    .anuncios {
                        border: solid rgb(255, 255, 255) 1px;
                        color: white;
                    }
                }
            }
            .post {
                background-color: $itens_Pretos; 
                color: white;
            }
        }
    }
}


@media screen and (max-width: 1025px) {
    .discontrair {
        .background {
            .container_De_Posts {
                flex-direction: column-reverse;
    
                .container_anuncios {
                    margin-bottom: 20px;
                    width: 100%;
                    height: 200px;
                    position: relative;
                    right: 0;

                    .anuncios {
                        border-radius: 10px;

                        &#anuncio_2 {
                            display: none;
                        }
                    }
                }
            }

            .post {
                margin: 0px auto 30px auto;
            }
        }
    }
}